<!doctype html>
<html>
<head>
    <title>Uber Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span><%= cabId %>'s Dashborad</h1>

    </div>
         <% if (cabId != undefined) { %>
            Driver Information Saved For : <span id="cabId"> <%= cabId %> </span>
            <br>
            
            
            <button style="display:none" class="btn btn-info" id="alert"></button>
            <br>
            <button style="display:none" id="decision" class="btn btn-info">Accept</button>
         <%} else {%>   



        <p>Driver Information</p>
         <form action="/driver" method="post">
            <div class="form-group">
               
                <label>Cab Id</label>
                <input type="text" class="form-control" name="cabId">
                <label>Latitude</label>
                <input type="text" class="form-control" name="lat">
                <label>Longitude</label>
                <input type="text" class="form-control" name="long">
               
            </div>
            <button type="submit" class="btn btn-info btn-lg">Enter</button>
         </form> 

         <ul id="messages" class="list-group">
            <li id="template" style="display: none; list-style-type: none" class="list-group-item">
                <i></i>
                <span></span>
            </li>
       
        </ul>  

         <%}%>

        
       

</div>
<script src="/js/index.js"></script>
<script src="/js/notify.js"></script>

</body>
</html>