<!doctype html>
<html>
<head>
    <title>Uber Clone</title>
     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    
    <style>
        body         { padding-top:80px; }

          html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
    
    </style>
</head>
<body>
<div class="container">


    <div class="jumbotron text-center">
        <h1><span class="fa"></span>Driver Dashboard  <%= cabId %></h1>

    </div>
         <% if (cabId !== undefined) { %>

            Driver  : <span id="cabId"> <%= cabId %> </span>

            <br>

            
            
            <button style="display:none" class="btn btn-info" id="alert"></button>
            <br>
            <button style="display:none" id="decision" class="btn btn-info">Accept</button>

            <input type="hidden" value=<%= JSON.stringify(driver)%> id="driverInfo" />

            <div id="map-canvas" style="width:600px;height:450px"></div>
           

         <%} else {%>   



        <p>Add Driver Information</p>
         <form action="/driver" method="post">
            <div class="form-group">
               
                <label>Cab Id</label>
                <input type="text" class="form-control" name="cabId">
                <label>Latitude</label>
                <input type="text" class="form-control" name="lat">
                <label>Longitude</label>
                <input type="text" class="form-control" name="long">
               
            </div>
            <button type="submit" class="btn btn-info btn-lg">Enter</button>
         </form> 

         <ul id="messages" class="list-group">
            <li id="template" style="display: none; list-style-type: none" class="list-group-item">
                <i></i>
                <span></span>
            </li>
       
        </ul>  

         <%}%>
    

</div>
<script src="/js/index.js"></script>


</body>
</html>