<!doctype html>
<html>
<head>
    <title>Uber Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>GNUber</h1>

        <a href="/driver" class="btn btn-info btn-lg">Register As Driver</a>
        <a href="/rider" class="btn btn-info btn-lg">Register As Rider</a>

        <a href="/findCabs" class="btn btn-info btn-lg">Find Cabs</a>

       
    </div>

</div>
</body>
</html>