<!doctype html>
<html>
<head>
    <title>Uber Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>GNUber</h1>

        <p>Enter an address</p>
         <form action="" method="post">
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="address">
            </div>
            <button type="submit" class="btn btn-info btn-lg">Find Cabs</button>
         </form>   


        
       
    </div>

</div>
</body>
</html>