<!doctype html>
<html>
<head>
    <title>Uber Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Rider Dashboard</h1>

      
       
    </div> 
<br/>
        <% if (typeof selectedDriver !== 'undefined') { %>
            <p>Driver <%= selectedDriver.cabid %> is on the way.</p>
            <a href="/reachedDestination/<%= selectedDriver.cabid %>" class="btn btn-info ">Reached Destination</a>
        <% } else { %>
         <a href="/findCabs" class="btn btn-info ">Find Cabs</a>
         <%} %>

</div>
</body>
</html>